<div [ngClass]="'wrap'">
  <app-cities *ngIf="localCoords" (updatedWeather)="theWeather($event)"></app-cities>
  <h3 *ngIf="appStatus">{{appStatus}}</h3>
  <h3 *ngIf="!localCoords && !error">finding your location ...</h3>
  <h3 [ngClass]="'error'" *ngIf="error">{{error}}</h3>
  <app-local [localCoord]="localCoords" (updatedWeather)="theWeather($event)"></app-local>
  <app-weather-summary *ngIf="localCoords" [weatherSummary]="weatherSummary" (informUser)="informStatus($event)"></app-weather-summary>
</div>