@import 'layout/grid';
// scss-lint:disable PlaceholderInExtend
section.custom {
  @extend .row;
}

$color: orange;
div{
  color: $color;
  font-size: 11px + 1px;

  &:hover {
    color: darken($color, 20%);
  }
}

